.footer {
    background: $footer-bg;
    padding: 50px 0;
    color: $footer-text-color;
    letter-spacing: .01em;

    a {
        color: inherit;
    }

    .contacts {
        margin-bottom: 30px;
    }

    .copyright {
        font-size: 12px;
    }
}